aiofiles
aiohttp
apscheduler
asyncio
bing_image_downloader
bs4
deepai
edge-tts
ffmpeg-python
future
gitpython
google-api-python-client
gpytranslate
gtts
heroku3
httpx[http2]==0.28.1
kurigram==2.2.6
lexica-api
motor
nekosbest
numpy
opencv-python
pillow==9.5.0
psutil
py-tgcalls==0.9.7
pycryptodome
pydub
pyfiglet
pyshorteners
python-dotenv
python-whois
pyyaml
qrcode
requests
speedtest-cli
SpeechRecognition
spotipy
telegraph
tgcrypto
unidecode
wget
yt-dlp==2025.7.21
